<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # products: list of strings. The products this user can see.
  #  
  # sortby: string. the column on which we are sorting the buglist.
  # reverse: boolean. True if we are reversing the current sort.
  # maxrows: integer. Max number of rows to display.
  # changedsince: integer. The number of days ago for the changedsince column.
  # openonly: boolean. True if we are only showing open bugs.    
  # product: string. Restrict to this product only.
  #
  # Additionally, you need to fulfill the interface to
  # duplicates-table.html.tmpl.
  #%]
 
[% IF product %]
  [% title = "$product で最も頻繁に報告されるバグ" %]
[% ELSE %]   
  [% title = "最も頻繁に報告されるバグ" %]
[% END%]

[% PROCESS global/header.html.tmpl %]

<p>
  <a href="#explanation">このデータは何？</a>
  <br>
  <a href="#params">パラメーターを変える</a>
</p>

[% PROCESS "reports/duplicates-table.html.tmpl" %]

<br>
<br>

[%# *** Parameters *** %]

[% bug_ids_string = vis_bug_ids.join(',') %]

<h3><a name="params">パラメーターを変更する</a></h3>

<form method="get" action="duplicates.cgi">
  <input type="hidden" name="sortby" value="[% sortby FILTER html %]">
  <input type="hidden" name="reverse" value="[% reverse %]">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <table>
    <tr>
      <td>並べ替えまたは制限を、
          次の対象に対し行う:</td>
      <td>
        <input type="radio" name="sortvisible" id="entirelist" value="0" 
          [% "checked" IF NOT sortvisible %]>         
        <label for="entirelist">
          リスト全体
        </label>
        <br>        
        <input type="radio" name="sortvisible" id="visiblelist" value="1" 
          [% "checked" IF sortvisible %]> 
        <label for="visiblelist">
          現在見えるリスト
        </label>
      </td>
      <td rowspan="4" valign="top">制限するプロダクト:</td>
      <td rowspan="4" valign="top">
        <select name="product" size="5" multiple="multiple">
          [% FOREACH p = products %]
            <option name="[% p FILTER html %]"
            [% " selected" IF product == p %]>[% p FILTER html %]</option>
          [% END %]
        </select>
      </td>
     </tr>

    <tr>
      <td>最大行数:</td>
      <td>
        <input size="4" name="maxrows" value="[% maxrows %]">
      </td>
    </tr>

    <tr>
      <td>変更するカラムは、次の期間内に変更 過去:</td>
      <td>
        <input size="4" name="changedsince" value="[% changedsince %]"> 日
      </td>
    </tr>

    <tr>
      <td>
        <label for="openonly">
          バグのみを開く:
        </label>
      </td>
      <td>
        <input type="checkbox" name="openonly" id="openonly" value="1" 
          [% "checked" IF openonly %]>      
      </td>
    </tr>

  </table>

  <input type="submit" value="Change"> 
</form>

<form method="post" action="buglist.cgi">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <input type="hidden" name="order" value="Reuse same sort as last time">
  もしくはこれを <input type="submit" value="バグリスト">として提供しなさい。 
  (注意: 順番は同じではないかもしれない。)
</form>

<hr>

<b>
  <a name="explanation">"最も頻繁に報告されるバグ" とは ?</a>
</b>

<blockquote>
  最も頻繁なバグページは、Mozilla の最近のビルドで最も頻繁に報告される
  既知の開かれているバグをリストアップします。これは
  直接或いは間接的に重複したバグを数えることによって、
  24時間ごとに Bugzilla によって自動的に生成されます。
  この情報は、開発者の時間を奪い取ることがないように、
  Bugzilla に入力されるバグの数を最小化するのを手助けするために
  提供されています。.
</blockquote>

<b>このリストをどのように使ったらよいのですか?</b>

<ul>
  <li>最も頻繁なバグのリストをレビューしなさい。</li>
  <li>もし問題がリストアップされていたら:</li>

  <ul>
    <li>Bug # のリンクをクリックして、同様のバグであるかどうかを確かめ、
      もし追加の情報があるのであればコメントしなさい。
      もしくは、プロダクトのテストを続けなさい。
    </li>
  </ul>

  <li>もし問題がリストアップされていなかったら:</li>

  <ul>
    <li><a href="query.cgi">Bugzilla 検索</a>のページに行き、同じようなバグが
      すでに書かれていないかというのを特定しようとしてみてください。</li>
    <li>もし自分のバグを Bugzilla で発見したら、あなたが持っているどんな新しいデータ、
    追加のデータも気軽にコメントしてください。</li>
    <li>もし、すでに Bugzilla でドキュメント化されていない問題を見つけたら、
      <a href="http://www.mozilla.org/quality/help/bug-form.html">Bugzilla
        Helper</a>
      に行き、新しいバグを投稿しなさい。</li>
  </ul>
</ul>

[% PROCESS global/footer.html.tmpl %]
