<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Matthew Tuck <matty@chariot.net.au>
  #%]

[%# Migration note: this file corresponds to the old Param 'bannerhtml' %]

<div style="background-image: url(http://www.mozilla.gr.jp/images/toppng/h_bg.png); padding-top: 10px; padding-bottom: 3px; padding-left: 10px; background-color: #663366;">
<a href="http://www.mozilla.gr.jp/">
<img src="http://www.mozilla.gr.jp/images/toppng/logo.png" width="187" height="67" alt="mozillagumi" style="border-style: none;">
</a>
<a href="http://bugzilla.mozilla.gr.jp/" style="display: inline; text-decoration: none; margin-left: 10px; color: white; font-family: Verdena, Arial, Helvetica, sans-serif; font-size: x-large;">
Bugzilla-jp
</a>
</div>
