<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # added_quip: string. Defined if the CGI added a quip data before 
  #                displaying anything; if defined, its value is that quip.
  # show_quips: boolean. True if we are showing the entire quip list.
  # quips: list of strings. Defined iff show_quips is true. List of all quips.
  #%]

[% PROCESS global/header.html.tmpl
           title = "Bugzilla Quip System"
           h1 = "ヘッドラインを追加"
 %]

[% IF added_quip %]
  <p>
    <font color="red">
      あなたのヘッドライン '<tt>[% added_quip FILTER html %]</tt>' は追加されました。
    </font>
  </p>
[% END %]

<p>
  Bugzilla は、ヘッドラインをランダムに選んで検索リスト画面に表示します。ここでヘッドラインを追加することができます。知的なもの、おもしろおかしいものや退屈なフレーズを入力してください (ただし下品なものや攻撃的なものはやめてください)。
</p>

<form method="post" action="quips.cgi">
  <input type="hidden" name="action" value="add">
  <input size="80" name="quip">
  <p>
    <input type="submit" value="ヘッドラインを追加">
  </p>
</form>

[% IF show_quips %]
  <h2>
    ヘッドライン一覧:
  </h2>
  <ul>
    [% FOREACH quip = quips %]
      <li>[% quip %]</li>
    [% END %]
  </ul>
[% ELSE %]
  <p>
    <a href="quips.cgi?action=show">ヘッドライン一覧</a>
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
