[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):     John Vandenberg <zeroj@null.net>
  #
  # Contributor(s):     Tetsuya Kaneuchi <tetsuyak@ka2.so-net.ne.jp>
  #     -- J10N
  #%]
[% expiration_ts = token_ts + (max_token_age * 86400) %]
From: bugzilla-daemon@m.aist.go.jp
To: [% emailaddress %]
Subject: Bugzillaのパスワード変更リクエスト

あなた（または、あなたになりすました誰か）より、Bugzillaのパスワード
変更リクエストを受け取りました。パスワードを変更するには、次のリンク
にアクセスしてください。

[%+ Param('urlbase') %]token.cgi?a=cfmpw&t=[% token FILTER url_quote %]

もし、リクエストを送信した覚えがなかったり、リクエスト送信を取り消した
い場合は、次のリンクにアクセスしてください。

[%+ Param('urlbase') %]token.cgi?a=cxlpw&t=[% token FILTER url_quote %]

あなたが何もしなければ、リクエストは [%- max_token_age %] 日後
([% time2str("%H:%M on the %o of %B, %Y", expiration_ts) -%])、
または、次回ログイン時に無効となります。
